.ques{
    background-color: rgba(26,26,26,255);
    border-radius: 7px;
    padding: 9px;
    overflow-x: auto;
}
.test_case{
    background-color: rgba(26,26,26,255);
    border-radius: 7px;
    padding: 4px;
}