
.main {
    background-color: rgba(26,26,26,255);
    display: flex;
    justify-content: space-between;
    height: 100vh; /* Set the height of the main element to 100% of the viewport height */
    overflow-y:hidden;
    color: aliceblue;
  }
  .navbar {
    background-color: rgba(55, 55, 55, 255);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
    
  .logo {
    margin: 0.5%;
    width: 10%;
  }
 
  
  .left {
    margin: 0.4%;
    background-color: rgba(55,55,55,255);
    flex-basis: 35%;
    order: 1;
    height: 100vh; /* Set the height of the left element to 100% */
    border-radius: 10px;
    padding: 5px;
    overflow: auto;
  }
  
  .right {
    flex-basis: 75%;
    order: 2;
    height: 100%; /* Set the height of the right element to 100% */
  }