.main_div {
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: 4px;
    margin-top: 7px;
    padding: 20px;
    
        background-color: rgba(55,55,55,255);
        border-radius: 5px;
      
  }
  
  .input,
  .output {
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 20px;
    
  }
  
  .h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .t_input,
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    max-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 95%;
    flex-grow: 1;
    background-color: rgba(25,25,25,255);
    border-radius: 6px;
  }
  
  .exp_out,
  .out {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
  }
  
  .exp_out pre,
  .out pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    max-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    flex-grow: 1;
  }
  